
* {
  margin: 0;
  padding: 0;
  font-family: Impact, sans-serif;
  
}

body {
  background-color: #ebd9d9;
}

.header {
  background: rgb(48, 210, 250);
  margin-bottom: 30px;
  padding: 20px 0;
}

.header h1 {
  margin: 0;
  display: inline-block;
}

.meme {
  position: relative;
}

.top-caption,
.bottom-caption {
  font-family: Impact, sans-serif;
  color: #fff;
  text-shadow: #000 0px 0px 6px;
  text-transform: uppercase;
  text-align: left;
  font-size: 50px;
}

.top-caption {
  top: 9px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}

.bottom-caption {
  bottom: 9px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}

.tool h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 25px;
}

.tool form label {
  margin-bottom: 10px;

}

.tool input {
  border-radius: 0;
  border: 0;
  border-bottom: 5px solid #f10909;
  box-shadow: none;
}

input[type="text"]:focus {
  border: 0;
  border-bottom: 5px solid #f10909;
  outline: 0;
  box-shadow: none;
}

h1 {
      font-size: 6rem;
  }
  
.letter {
      transition: color 750ms;
  }

  .dropbtn {
    background-color: black;
    color: white;
    height:45px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #53535A;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: static;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: #2A1FAD;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #b1a2a2}
    
  .show {display:block;}

  hr.new1 {
    border: 10px rgb(48, 210, 250);
    border-radius: 5px;
  }
